body {
    margin: 0 0 1px 0; /* the extra 1px allows the iOS inner/outer check to work */
    background: #000;
    overflow: hidden;
    touch-action: none;
    font-family: sans-serif;
}

.fontLoader {
    position: absolute;
    left: -1000px;
}